
<div>
    <h1>
        POKÉDEX
    </h1>
</div>

<main> 

    <div id="pokedex">
        <div class="grid-container">
            <div class="grid-x grid-margin-x small-up-2 medium-up-3">
                <div class="circle" id="blue"></div>
                <div id="mini-cricles">
                    <div class="cell"><div class="circle" id="red"></div></div>  
                    <div class="cell"><div class="circle" id="yellow"></div></div>  
                    <div class="cell"><div class="circle" id="green"></div></div>       
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-margin-x small-up-1 medium-up-3">
        <script>
            let pokeName = "";            
        </script>
            {{#each pokemon}}
                <div class="cell">
                    <div class="card pokedex-card">
                        <div class="card-section">
                            <img id="{{this.dataValues.id}}" class="pokedex-img" src="">
                        </div>
                        <div class="card-section">
                            <h3>{{this.dataValues.name}}</h4>
                            <h4>({{this.dataValues.typeOne}})</h3>
                            <p>Attack Value: {{this.dataValues.attack}}</p>
                            <p>Legendary: {{this.dataValues.legendary}}</p>
                        </div>
                    </div>
                </div>
            <script> 
                    pokeName = "{{this.dataValues.name}}";
                    pokeName = pokeName.toLowerCase();
                    $('#{{this.dataValues.id}}').attr('src',`/assets/images/${pokeName}.png?raw=true`)
            </script>

            {{/each}}

            </div>
        </div>
    </div>

</main>
